---
import { getCollection, CollectionEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => {
    return {
      params: {
        slug: post.slug,
      },
      props: {
        post,
      },
    };
  });
}

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title}>
  <main class="mt-16 max-w-[1000px] py-8 mx-auto">
    <header>
      <h1 class="text-2xl font-bold pb-6">{post.data.title}</h1>
    </header>
    <Content />
  </main>
</Layout>

<style>
  html {
    background: linear-gradient(to right, #fafa99 0%, #ffffff 100%);
    animation: gradient 8s ease infinite;
    background-size: 400% 400%;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
</style>
