---
import Layout from "../layouts/Layout.astro";
import "../style/global.css";

const name = "Junseong Park";
---

<Layout title="Junseong Park">
  <div class="h-calc(100vh-124px) mt-16 flex justify-center items-center">
    <div class="max-w-2xl px-4">
      <h1 class="text-5xl font-bold text-gray-900">Hello, I am {name}</h1>
      <p class="text-xl text-gray-700 mt-8">
        I am interested in web development using
      </p>
      <ul class="text-lg text-gray-900 font-bold text-right">
        <li>JavaScript</li>
        <li>TypeScript</li>
        <li>React</li>
      </ul>
    </div>
  </div>
</Layout>
