---
import { getCollection } from "astro:content";
const posts = await getCollection("blog");
---

<ul>
  {
    posts.map((post) => {
      return (
        <article>
          <h1>{post.data.title}</h1>
          <small>{post.data.tags}</small>
          <p>{post.data.description}</p>
          <a href={`/blog/${post.slug}`}>Read More</a>
        </article>
      );
    })
  }
</ul>
