---
const name = "Junseong Park";
---

<footer class="bg-zinc-900 text-gray-300 py-4 bottom-0 fixed w-full">
  <div class="max-w-2xl mx-auto px-4">
    <p class="text-xl">
      &copy; {new Date().getFullYear()}
      {name}. All rights reserved.
    </p>
  </div>
</footer>
