---
const name = "Junseong Park";
---

<footer class="relative bottom-0 bg-black text-white py-4 text-opacity-50">
  <p class="text-center">
    &copy; {new Date().getFullYear()}
    {name}. All rights reserved.
  </p>
</footer>
