<header class="bg-gray-900 py-4 top-0 fixed w-full">
  <div
    class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex items-center justify-between"
  >
    <div class="flex items-center">
      <a href="/" class="text-gray-100 hover:text-gray-300">
        <img src="/favicon-32x32.png" alt="logo" />
      </a>
      <nav class="md:block ml-10">
        <a href="/" class="text-gray-100 hover:text-gray-300 ml-4">Home</a>
        <a href="/blog" class="text-gray-100 hover:text-gray-300 ml-4">Blog</a>
        <a
          href="https://junseongpark.dev"
          target="_blank"
          class="text-gray-100 hover:text-gray-300 ml-4">Projects</a
        >
      </nav>
    </div>
  </div>
</header>
