<header class="bg-black text-white fixed w-full top-0">
  <ul class="flex justify-around">
    <li
      class="flex-1 flex justify-center items-center hover:bg-slate-400 transition-colors duration-150 hover:text-black"
    >
      <a class="block w-full text-center py-5" href="/" title="HOME">HOME</a>
    </li>
    <li
      class="flex-1 flex justify-center items-center hover:bg-slate-400 transition-colors duration-150 hover:text-black"
    >
      <a
        class="block w-full text-center py-5"
        href="https://junseongpark.dev"
        target="_blank"
        title="PROJECTS">PROJECTS</a
      >
    </li>
    <li
      class="flex-1 flex justify-center items-center hover:bg-slate-400 transition-colors duration-150 hover:text-black"
    >
      <a
        class="block w-full text-center py-5"
        href="https://github.com/junseongparkme"
        target="_blank"
        title="GITHUB">GITHUB</a
      >
    </li>
    <li
      class="flex-1 flex justify-center items-center hover:bg-slate-400 transition-colors duration-150 hover:text-black"
    >
      <a
        class="block w-full text-center py-5"
        href="https://www.linkedin.com/in/junseongparkme"
        target="_blank"
        title="LINKEDIN">LINKEDIN</a
      >
    </li>
    <li
      class="flex-1 flex justify-center items-center hover:bg-slate-400 transition-colors duration-150 hover:text-black"
    >
      <a
        class="block w-full text-center py-5"
        href="https://twitter.com/Junseongparkme"
        target="_blank"
        title="TWITTER">TWITTER</a
      >
    </li>
  </ul>
</header>
